node_modules
.git
.env
.env.local
.env.production
.env.development
npm-debug.log
.vscode
coverage
**/*.log
**/*.swp
dist
.nyc_output
.DS_Store
*.tgz
*.tar.gz
README.md
.gitignore
.eslintrc.js
.prettierrc
jest.config.js
test
